dist
es
locales
.dockerignore
.eslintignore
.stylelintignore
*.png
*.svg
*.toml
docker
.husky
.editorconfig
Dockerfile*
.gitignore
.npmignore
.prettierignore
LICENSE
.eslintcache
*.lock
.history
CNAME
.idea
.vscode
.npmrc
*.local
*.d.ts
*.map
